{% extends "base.j2" %}

{% set title = "Account Settings - Synctron" %}

{% block content %}
<div class="row">
	<div class="span12">
		<div class="page-header">
			<h1>Account Settings <small>Change your account settings.</small></h1>
		</div>

		{% if alert_msg %}
		<div id="page-alert" class="alert {{ "alert-" + alert_type if alert_type else "" }} {{ "hide" if alert_timeout else "" }}">
			{{ alert_msg }}
		</div>
		{% endif %}

		<form id="room-settings-form" class="form-horizontal" method="POST">
			{{ form.csrf_token }}

			<fieldset>
				<legend>General</legend>

				{{ forms.input_field(form.email) }}
			</fieldset>

			<fieldset>
				<legend>Profile Settings</legend>

				<div class="control-group">
					<div class="controls">
						{% for field in [
							form.show_rooms_owned,
							form.show_rooms_starred,
						] %}
						<label class="checkbox" for="{{ field.id }}">
							{{ field() }} {{ field.label }}
						</label>
						{% endfor %}
					</div>
				</div>
			</fieldset>

			<hr />

			<fieldset>
				<button id="submit" type="submit" class="btn btn-primary">Save</button>
			</fieldset>
		</form>
	</div>
</div>
{% endblock %}

{% block js_body %}
{{ super() }}

{% if alert_msg and alert_timeout %}
<script type="text/javascript">
$(document).ready(function()
{
	$("#page-alert").slideDown();

	setTimeout(function() {
		$("#page-alert").slideUp();
	}, {{ alert_timeout }});
});
</script>
{% endif %}
{% endblock %}
