<!DOCTYPE html>
{% if not title %}
{% set title = "Synctron" %}
{% endif %}

{% if not chartbeat_title %}
{% set chartbeat_title = title %}
{% endif %}

<html>

<head>
	{% if config.CHARTBEAT_UID %}
	<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
	{% endif %}

	{% block head %}
	<title>{{ title }}</title>

	{% block css_head %}
	<link rel='stylesheet' type='text/css' href='/static/css/bootstrap.css' />
	<link rel='stylesheet' type='text/css' href='/static/css/utils.css' />
	<!-- <link rel='stylesheet' type='text/css' href='/static/css/style.css' /> -->
	{% endblock %}

	{% block js_head %}
	{% endblock %}

	{% endblock %}


	{# Import macros. #}
	{% import "forms.j2" as forms with context %}

	{% if config.GOOGLE_ANALYTICS_ID %}
	<script>
	var _gaq = [['_setAccount', '{{ config.GOOGLE_ANALYTICS_ID }}'], ['_trackPageview']];
	(function(d, t)
	{
		var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
		g.src = '//www.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g, s);
	}(document, 'script'));
	</script>
	{% endif %}
</head>

<body>
	{% block body %}

	<div class="navbar">
		<div class="navbar-inner">
			<a class="brand" href="/">Synctron</a>
			<ul class="nav">
				<li><a href="/">Home</a></li>
			</ul>

			<ul class="nav pull-right">
				{% if "username" not in session %}

				<li><a href="/login">Log In</a></li>
				<li><a href="/signup">Create Account</a></li>

				{% else %}

				<li><a href="/create_room">Create a Room</a></li>

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						{{ session["username"] }}
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li><a href="/user/{{ session["username"] }}">My Profile</a></li>
						<li><a href="/user/{{ session["username"] }}/settings">Account Settings</a></li>
						<li class="divider"></li>
						<li><a href="/logout">Log Out</a></li>
					</ul>
				</li>

				{% endif %}
			</ul>
		</div>
	</div>
	
	<div class="container" id="main-container">
		{% block content %}
		{% endblock %}
	</div>

	{% endblock %}

	{% block js_body %}
	<script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
	<script type='text/javascript' src='/static/js/jquery.cookie.js'></script>
	<script type='text/javascript' src='/static/js/bootstrap.js'></script>

	<script type='text/javascript' src='/static/js/sha384.js'></script>

	<script type='text/javascript' src='/static/js/utils.js'></script>
	{% endblock %}

	{% block chartbeat %}
	{% if config.CHARTBEAT_UID %}
	<script type="text/javascript">
	var _sf_async_config=
	{
		uid:{{ config.CHARTBEAT_UID }},
		domain:"{{ config.CHARTBEAT_DOMAIN }}",
		useCanonical:true,
		title: {{ chartbeat_title }},
	};
	(function()
	{
		function loadChartbeat()
		{
			window._sf_endpt=(new Date()).getTime();
			var e = document.createElement('script');
			e.setAttribute('language', 'javascript');
			e.setAttribute('type', 'text/javascript');
			e.setAttribute('src', '//static.chartbeat.com/js/chartbeat.js');
			document.body.appendChild(e);
		}
		var oldonload = window.onload;
		window.onload = (typeof window.onload != 'function') ?
		loadChartbeat : function() { oldonload(); loadChartbeat(); };
	})();
	</script>
	{% endif %}
	{% endblock %}
</body>

</html>
