{% extends "base.j2" %}

{% block title %}Create a Room - Synctron{% endblock %}

{% block content %}
<div class="row">
	<div class="span12">
		{% if error %}
		<div class="alert alert-error">
			<b>Error: </b> {{ error }}
		</div>
		{% endif %}

		<form id="create-room-form" class="form-horizontal" method="POST">
			<fieldset>
				<legend>Create a Room</legend>

				{{ form.csrf_token }}

				<div class="control-group {{ "error" if form.title.errors }}">
					<label class="control-label" for="title">{{ form.title.label }}</label>
					<div class="controls">
						{{ form.title(class="input-large") }}
						{% if form.title.errors %}<span class="help-inline">{{ form.title.errors[0] }}</span>{% endif %}
					</div>
				</div>

				<div class="control-group {{ "error" if form.slug.errors }}">
					<label class="control-label" for="slug">{{ form.slug.label }}</label>
					<div class="controls">
						 <div id="slug-prepend" class="input-prepend">
						 	<span id="slug-add-on" class="add-on">{{ config.SITE_DOMAIN_NAME }}/room/</span>
						 	{{ form.slug(class="input-large") }}
						 </div>
						{% if form.slug.errors %}<span class="help-inline">{{ form.slug.errors[0] }}</span>{% endif %}
						<span class="help-block">The room's slug is the name the room is identified by in URLs.</span>
					</div>
				</div>

				<div class="control-group {{ "error" if form.is_private.errors }}">
					<div class="controls">
						<label class="checkbox" for="is_private">
							{{ form.is_private() }} {{ form.is_private.label }}
						</label>
						{% if form.is_private.errors %}<span class="help-inline">{{ form.is_private.errors[0] }}</span>{% endif %}
					</div>
				</div>

				<div class="control-group {{ "error" if form.captcha.errors }}">
					<label class="control-label" for="captcha">Are you an evil robot?</label>
					<div class="controls">
						{{ form.captcha() }}
						{% if form.captcha.errors %}<span class="help-inline">{{ form.captcha.errors[0] }}</span>{% endif %}
					</div>
				</div>

				<button id="submit" type="submit" class="btn btn-primary">Create Room</button>
			</fieldset>
		</form>
	</div>
</div>
{% endblock %}

{% block css_head %}
{{ super() }}
<style>
#title { width: 330px; }
</style>
{% endblock %}

{% block js_body %}
{{ super() }}

<script type="text/javascript">
$(document).ready(function()
{
	$("#title").width($("#slug-prepend").innerWidth() - 14);
});
</script>
{% endblock %}
