{% extends "base.j2" %}

{% set title = "Create a Room - Synctron" %}

{% block content %}
<div class="row">
	<div class="span12">
		{% if error %}
		<div class="alert alert-error">
			<b>Error: </b> {{ error }}
		</div>
		{% endif %}

		<form id="create-room-form" class="form-horizontal" method="POST">
			<fieldset>
				<legend>Create a Room</legend>

				{{ form.csrf_token }}

				{{ forms.input_field(form.title,
					class="input-large",
				) }}

				{{ forms.input_field(form.slug, 
					help="The room's slug is the name the room is identified by in URLs.",
					class="input-large",
					prepend=config.SITE_DOMAIN_NAME + "/room/",
				) }}

				{{ forms.bool_field(form.is_private,
					help="Private rooms don't show up in the room lists on the front page.",
				) }}

				{{ forms.captcha_field(form.captcha) }}

				<button id="submit" type="submit" class="btn btn-primary">Create Room</button>
			</fieldset>
		</form>
	</div>
</div>
{% endblock %}

{% block css_head %}
{{ super() }}
<style>
#title { width: 330px; }
</style>
{% endblock %}

{% block js_body %}
{{ super() }}

<script type="text/javascript">
$(document).ready(function()
{
	$("#title").width($("#slug-control-group .input-prepend").innerWidth() - 14);
});
</script>
{% endblock %}
