{# 
	Renders a WTForms TextArea field.
#}
{% macro input_field(field, help=None, class=None, prepend=None) %}
	<div id="{{ field.id }}-control-group" class="control-group {{ "error" if field.errors }}">
		<label class="control-label" for="{{ field.id }}">{{ field.label }}</label>
		<div class="controls">
			{% if prepend %}
			<div class="input-prepend">
			<span class="add-on">{{ prepend }}</span>
			{% endif %}

			{{ field(class=class) }}

			{% if prepend %}</div>{% endif %}

			{% if field.errors %}<span class="help-inline">{{ field.errors[0] }}</span>{% endif %}
			{% if help %}<span class="help-block">{{ help }}</span>{% endif %}
		</div>
	</div>
{% endmacro %}

{#
	Renders a WTForms BooleanField.
#}
{% macro bool_field(field, help=None) %}
	<div class="control-group {{ "error" if field.errors }}">
		<div class="controls">
			<label class="checkbox" for="{{ field.id }}">
				{{ field() }} {{ field.label }}
			</label>
			{% if field.errors %}<span class="help-inline">{{ field.errors[0] }}</span>{% endif %}
			{% if help %}<span class="help-block">{{ help }}</span>{% endif %}
		</div>
	</div>
{% endmacro %}

{# 
	Renders a WTForms RecaptchaField
#}
{% macro captcha_field(field) %}
	<div class="control-group {{ "error" if field.errors }}">
		<label class="control-label" for="{{ field.id }}">{{ field.label }}</label>
		<div class="controls">
			{{ field() }}
			{% if field.errors %}<span class="help-inline">{{ field.errors[0] }}</span>{% endif %}
		</div>
	</div>
{% endmacro %}
