{% extends "base.j2" %}

{% block title %}Synctron{% endblock %}

{% block content %}

<div class="row">
	<div class="span12">
		<div class="hero-unit">
			<h1>Welcome to Synctron!</h1>
			<p>Synctron is a website that allows you to easily watch YouTube videos with your friends.</p>
			<p>Currently Synctron is in the very early stages of development, but it <em>is</em> in a working state. If you'd like to help test it out, just click the button below to go to the public test room! Just remember that this is by no means complete yet, so please don't stare directly at the bugs.</p>
			<p>
				<a class="btn btn-primary btn-large" href="/room/PublicTest">Click here to try it out!</a>
			</p>
			<p>Have fun!</p>
		</div>
	</div>
</div>

{% endblock %}
