{% extends "base.j2" %}

{% block title %}Synctron{% endblock %}

{% block js_body %}
{{ super() }}
<script type="text/javascript">wsapi_url = "{{ config.WSAPI_URL }}";</script>
<script type="text/javascript" src="/static/js/pages/roomlist_users.js"></script>
{% endblock %}

{% block content %}

<div class="row">
	<div class="span12">
		<div class="hero-unit">
			<h1>Welcome to Synctron!</h1>
			<p>Synctron is a website that allows you to easily watch YouTube videos with your friends.</p>
			<p>Currently Synctron is in the very early stages of development, but it <em>is</em> in a working state. If you'd like to help test it out, just click on one of the rooms below. Just remember that this is by no means complete yet, so please don't stare directly at the bugs.</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="span12">
		<h1 class="text-center">Popular Rooms</h1>
	</div>

	<div class="span6">
		<div class="well">
			<h3>Most Stars</h3>
			<table class="table table-condensed table-bordered">
				<thead>
					<tr>
						<th>Room Name</th>
						<th>Stars</th>
					</tr>
				</thead>

				<tbody>
					{% for room in popular_rooms %}
					<tr>
						<td><a href="/room/{{ room.name }}">{{ room.name }}</a></td>
						<td>{{ room.stars }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	<div class="span6">
		<div class="well">
			<h3>Most Users</h3>
			<table class="table table-condensed table-bordered roomlist">
				<thead>
					<tr>
						<th>Room Name</th>
						<th>Users</th>
					</tr>
				</thead>

				<tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}
