{% extends "base.j2" %}

{% block title %}{{ room_slug }} - Synctron{% endblock %}

{% block css_head %}
{{ super() }}
<style>

#chatbox
{
	height: 100%;
}

#chatbox-textarea
{
	height: 178px;
	overflow-y: scroll;
}

#chatbox-textarea p
{
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 1.4;

	word-wrap: break-word;
}


#playlist-scroll
{
	min-height: 100px;
	overflow-y: scroll;
}

#title-col	{ width: 70%; }
#author-col	{ width: 30%; }
#time-col	{ width: 64px; }
#id-col		{ width: 100px; }
#by-col		{ width: 100px; }
#remove-col	{ width: 24px; }


#userlist-scroll
{
	height: 140px;
	overflow-y: scroll;

	margin-bottom: 20px;
}

#player
{
	height: 333px;
}

</style>
{% endblock %}

{% block js_body %}
{{ super() }}
<script type="text/javascript">room_slug = "{{ room_slug }}";</script>
<script type="text/javascript" src="/static/js/socketio/socket.io.min.js"></script>
<script type="text/javascript" src="/static/js/pages/player.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>
{% endblock %}

{% block content %}

<div id="alert-div" class="alert alert-error hide">
</div>

<div class="row">
	<div class="span8" id="main-span">
		<div id="player-div" class="well well-small center-contents">
			<div id="player" class="center"></div>
			<div class="btn-toolbar" id="room-toolbar">
				<div class="btn-group pull-left">
					<button class="btn disabled" id="addvideo-btn" title="Add a video to the playlist"><i class="icon-plus"></i></button>
					<button class="btn disabled" id="resync-btn" title="Re-synchronize the video"><i class="icon-refresh"></i></button>
				</div>

				<div class="btn-group">
					<button class="btn disabled" id="prev-btn" title="Skip to the previous video"><i class="icon-fast-backward"></i></button>
					<button class="btn disabled" id="next-btn" title="Skip to the next video"><i class="icon-fast-forward"></i></button>
				</div>

				<div class="btn-group pull-right">
					<button class="btn disabled dropdown-toggle" id="menu-btn" title="More options" data-toggle="dropdown">
						<i class="icon-wrench"></i>
					</button>
					<ul class="dropdown-menu">
						<li><a href="javascript:void();" id="resync-all-btn"><i class="icon-refresh"></i> Re-sync Everyone</a></li>
						<li><a href="javascript:void();" id="reload-plist-btn"><i class="icon-refresh"></i> Reload Playlist</a></li>
						<li><a href="javascript:void();" id="shuffle-plist-btn"><i class="icon-random"></i> Shuffle Playlist</a></li>
						<li><a href="javascript:void();" id="room-settings-btn"><i class="icon-cog"></i> Room Settings</a></li>
					</ul>
				</div>

				<div class="btn-group pull-right">
					<button class="btn disabled" id="star-btn" title="Star this room"><i class="icon-star"></i></button>
				</div>
			</div>
		</div>

		<div id="add-video-popover" class="hide">
			<form name="videoform" id="videoform" action="javascript:void(0);" class="form-inline">
				<fieldset>
					<div class="input-append">
						<input type="text" name="video_id" id="video_id" placeholder="YouTube video URL or ID..." />

						<div class="btn-group">
							<button type="button" class="btn" id="btn-add-end" href="#">Add Video</button>
							<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a id="menu-add-end" tabindex="-1" href="#">Add to the end of the playlist.</a></li>
								<li><a id="menu-add-next" tabindex="-1" href="#">Add after the currently playing video.</a></li>
							</ul>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>

	<div class="span4">
		<div id="userlist-scroll">
			<table class="table table-hover table-condensed table-bordered">
				<thead>
					<tr>
						<th id="userlist-title" colspan="2">Users</th>
					</tr>
				</thead>

				<tbody id="userlist-body">
				</tbody>
			</table>
		</div>

		<div id="chatbox">
			<div class="well well-small" id="chatbox-textarea">
			</div>

			<div>
				<form id="chat-input-form" class="form-inline">
					<input type="text" id="chat-input" class="input-block-level" name="chat-input" placeholder="Chat message...">
				</form>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="span12">
		<div id="playlist-scroll">
			<table class="table table-hover table-condensed table-bordered playlist-table">
				<colgroup>
					<col id="title-col" />
					<col id="author-col" />
					<col id="time-col" />
					<col id="id-col" />
					<col id="by-col" />
					<col id="remove-col" />
				</colgroup>

				<thead>
					<tr>
						<th>Title</th>
						<th>Author</th>
						<th>Time</th>
						<th>Video ID</th>
						<th>Added By</th>
						<th>
					</tr>
				</thead>

				<tbody id="playlist-body">
				</tbody>
			</table>
		</div>
	</div>
</div>

<div id="room-not-found-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="nfmodal-label" aria-hidden="true">
	<div class="modal-header">
		<h3 id="nfmodal-label">That room doesn't exist!</h3>
	</div>
	<div class="modal-body">
		<p>The room you're trying to access doesn't seem to exist, but fear not! You can create a room quite easily!</p>
		<p>Would you like to create a room?</p>
	</div>
	<div class="modal-footer">
		<a href="/" class="btn">No, take me back to the home page.</a>
		<a href="/create_room" class="btn btn-primary">Yes, I'd like to create a room.</a>
	</div>
</div>

{% endblock %}
