{% extends "base.j2" %}

{% block title %}Sign Up - Synctron{% endblock %}

{% block content %}

<div class="row">
	<div class="span12">
		<form id="signup-form" class="form-horizontal" method="POST">
			{{ form.csrf_token }}
			<fieldset>
				<legend>Create an account</legend>

				{{ forms.input_field(form.username) }}

				{{ forms.input_field(form.email,
					help="We will never give your email out to other people. We just want to make sure you're not an evil robot from the future.",
				) }}

				{{ forms.input_field(form.password) }}

				{{ forms.input_field(form.confirm) }}

				{{ forms.captcha_field(form.captcha) }}

				<button id="submit" type="submit" class="btn btn-primary">Create Account</button>
			</fieldset>
		</form>
	</div>
</div>

{% endblock %}
