{% extends "base.j2" %}

{% block title %}Sign Up - Synctron{% endblock %}

{% block content %}

<div class="row">
	<div class="span12">
		{{ forms.signup_form() }}
	</div>
</div>

{% endblock %}

{% block js_body %}
{{ super() }}
<script type='text/javascript' src='/static/js/jquery.validate.min.js'></script>

<script type="text/javascript" src="/static/js/pages/signup_form.js"></script>
{% endblock %}
