Flask==0.10.1
Flask-SQLAlchemy==0.16
Flask-WTF==0.8.3
Jinja2==2.7
Mako==0.8.1
MarkupSafe==0.18
MySQL-python==1.2.4
SQLAlchemy==0.8.1
Tempita==0.5.1
WTForms==1.0.4
Werkzeug==0.9.1
alembic==0.5.0
decorator==3.4.0
gevent==0.13.8
gevent-socketio==0.3.5-rc2
gevent-websocket==0.3.6
google-api-python-client==1.1
greenlet==0.4.0
gunicorn==0.16.1
httplib2==0.8
isodate==0.4.9
itsdangerous==0.21
passlib==1.6.1
python-gflags==2.0
redis==2.7.6
requests==1.2.0
wsgiref==0.1.2
