{% extends "base.j2" %}

{% block js_head %}
{{ super() }}
<script src="https://www.youtube.com/iframe_api"></script>
<!-- <link href="/static/css/video-js.css" rel="stylesheet">
<script src="/static/js/video.js"></script> -->
{% endblock %}


{% block js_body %}
{{ super() }}

<script type="text/javascript">
room_id = "{{ room_id }}"


/////////////////////
// WEBSOCKET STUFF //
/////////////////////

var ws;

// Stringifies the given object and sends it to the server.
function sendAction(data)
{
	var msg = JSON.stringify(data);
	console.log("Sending action: " + msg);
	ws.send(msg);
}

$(document).ready(function()
{
	if (!window.WebSocket)
	{
		if (window.MozWebSocket)
		{
			window.WebSocket = window.MozWebSocket;
		}
		else
		{
			alert("Your browser doesn't support WebSockets.");
		}
	}


	ws = new WebSocket('ws://127.0.0.1:8000/wsapi');

	ws.onopen = function(evt)
	{
		sendAction({
			action: "init",
			room_id: room_id,
		});
	}

	ws.onmessage = function(evt)
	{
		console.log("Message from server: " + evt.data);

		var data;
		var action;

		try
		{
			data = JSON.parse(evt.data);
			action = data.action;
		}
		catch (SyntaxError) { }

		if (action === undefined)
		{
			alert("Server sent invalid message. Not good.");
			console.log("Server sent invalid message:");
			console.log(evt.data);
			ws.close();
		}

		var actionFunc = actions[action]
		if (actionFunc === undefined)
		{
			console.log("Server sent unknown action '" + actionFunc + "'. Ignoring.");
		}
		else
		{
			actionFunc(data, ws);
		}
	}

	ws.onclose = function(evt)
	{
		console.log("WebSocket closed.");
	}
});


////////////////////////
// VIDEO PLAYER STUFF //
////////////////////////

var ignorePlayPause = false;

actions = 
{
	error: function(data, sock)
	{
		console.log(JSON.stringify(data));
		alert(data.reason_msg);
	},

	// Handles the init action sent from the server.
	// Expects the following fields in data: video_id
	// Doesn't return anything.
	setvideo: function(data, sock)
	{
		var lastState = -2;

		vplayer = new YT.Player("player", {
			width: "640",
			height: "380",
			videoId: data.video_id,
			events: {
				onStateChange: function(event)
				{
					if (event.data == YT.PlayerState.PLAYING && lastState != YT.PlayerState.PLAYING)
					{
						console.log("Sending play action...");
						sendAction({ action: "play", room_id: room_id, time: vplayer.getCurrentTime() });
					}
					else if (event.data == YT.PlayerState.PAUSED && lastState != YT.PlayerState.PAUSED)
					{
						console.log("Sending pause action... ");
						sendAction({ action: "pause", room_id: room_id });
					}

					lastState = event.data;
				},

				onReady: function(event)
				{
					console.log("Requesting sync...");
					sendAction({ action: "sync", room_id: room_id });
				},
			}
		});
	},

	// Handles the sync action sent from the server.
	// Expects the following fields: video_time
	sync: function(data, sock)
	{
		vplayer.seekTo(data.video_time);

		if (data.is_playing)
		{
			vplayer.playVideo();
		}
		else
		{
			vplayer.pauseVideo();
		}
	}
}

</script>

{% endblock %}



{% block content %}

<div id="player">
	
</div>

{% endblock %}

