{% extends "base.j2" %}
{% import "forms.j2" as forms %}

{% block title %}Log In - TubeSync{% endblock %}

{% block content %}
<div class="row">
	<div class="span12">
		{{ forms.login_form() }}
	</div>
</div>
{% endblock %}

{% block js_body %}
{{ super() }}

{% if success_redirect_url %}
<script type="text/javascript">loginSuccessHref = "{{ success_redirect_url }}";</script>
{% endif %}

<script type="text/javascript" src="/static/js/pages/login_form.js"></script>
{% endblock %}
