{% extends "base.j2" %}

{% block title %}{{ room_id }} - TubeSync{% endblock %}

{% block js_head %}
{{ super() }}
<script src="https://www.youtube.com/iframe_api"></script>
{% endblock %}

{% block js_body %}
{{ super() }}
<script type="text/javascript">room_id = "{{ room_id }}"; wsapi_url = "{{ wsapi_url }}";</script>
<script type="text/javascript" src="/static/js/pages/player.js"></script>
{% endblock %}

{% block content %}

<div class="row">
	<div class="page-header"><h1>{{ room_id }} <small>TubeSync</small></h1></div>
</div>

<div class="row">
	<div class="span8">
		<div id="player-div" class="well well-small center-contents">
			<div id="player" class="center"></div>
		</div>

		<div class="well">
			<form name="videoform" id="videoform" action="javascript:void(0);" class="form-inline">
				<fieldset>
					<legend>Add Videos</legend>

					<div class="input-append">
						<input type="text" name="video_id" id="video_id" class="input-xlarge" placeholder="YouTube video URL or ID..." />

						<div class="btn-group">
							<button type="button" class="btn" id="btn-add-end" href="#">Add Video</button>
							<button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a id="menu-add-end" tabindex="-1" href="#">Add to the end of the playlist.</a></li>
								<li><a id="menu-add-next" tabindex="-1" href="#">Add after the currently playing video.</a></li>
							</ul>
						</div>
					</div>
				</fieldset>
			</form>
		</div>

		<table class="table table-hover table-condensed table-bordered playlist-table">
			<colgroup>
				<col width="48%" />
				<col width="24%" />
				<col width="11%" />
				<col width="17%" />
				<col width="24px" />
			</colgroup>

			<thead>
				<tr>
					<th class="expand">Title</th>
					<th>Author</th>
					<th>Time</th>
					<th>Video ID</th>
					<th>
				</tr>
			</thead>

			<tbody id="playlist-body">
			</tbody>
		</table>
	</div>

	<div class="span4">
		<table class="table table-hover table-condensed table-bordered">
			<thead>
				<tr><th>Users</th></tr>
			</thead>

			<tbody id="userlist-body">
			</tbody>
		</table>

		<div class="well">
			<p>Chat is not yet implemented.</p>
		</div>
	</div>
</div>

{% endblock %}
